In [1]:
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [2]:
import pandas as pd
df = pd.DataFrame({'name' : ['User 1', 'User 2', 'User 3']})

/home/chowder/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
df.to_sql(name='users', con=engine)

3

In [5]:
from sqlalchemy import text
with engine.connect() as conn:
   resp = conn.execute(text("SELECT * FROM users")).fetchall()

In [6]:
resp

[(0, 'User 1'), (1, 'User 2'), (2, 'User 3')]

In [9]:
rdf = pd.read_sql('users', con=engine).set_index("index")
rdf

         name
index
0      User 1
1      User 2
2      User 3